## Pandas. Series 2.4

In [36]:
import pandas as pd

def create_medications(names, counts):
    medications = pd.Series(data = counts, index = names)
    return medications
    """
    Напишите функцию create_mediactions(names, counts), которая  создает Series medications,
    индексами которой являются названия лекарств names, а значениями - их количество в поставке counts
    """

   

def get_percent(medications, name):
    return (medications.loc[name] / sum(medications) * 100)
    
    """
    А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара
    с именем name от общего количества товаров в поставке в процентах.
    """


if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine")) #37.5

37.5

### Знакомимся с данными: недвижимость

In [37]:
import pandas as pd
melb_data = pd.read_csv('D:\Data Science\IDE\Skillfactory\PY_10_Введение в Pandas\data\melb_data.csv', sep=',')
print(melb_data.loc[15, 'Price'])
print(melb_data.loc[90, 'Date'])
print(round(melb_data.loc[3521,'Landsize'] / melb_data.loc[1690, 'Landsize']))

1310000.0
10/09/2016
3

In [38]:
display(melb_data['Coordinates'].info)

<bound method Series.info of 0          -37.7996, 144.9984
1          -37.8079, 144.9934
2          -37.8093, 144.9944
3          -37.7969, 144.9969
4          -37.8072, 144.9941
                 ...
13575    -37.90562, 145.16761
13576    -37.85927, 144.87904
13577    -37.85274, 144.88738
13578    -37.85908, 144.89299
13579    -37.81188, 144.88449
Name: Coordinates, Length: 13580, dtype: object>

In [39]:
melb_data['CouncilArea'].value_counts(dropna=False)

NaN                  1369
Moreland             1163
Boroondara           1160
Moonee Valley         997
Darebin               934
Glen Eira             848
Stonnington           719
Maribyrnong           692
Yarra                 647
Port Phillip          628
Banyule               594
Bayside               489
Melbourne             470
Hobsons Bay           434
Brimbank              424
Monash                333
Manningham            311
Whitehorse            304
Kingston              207
Whittlesea            167
Hume                  164
Wyndham                86
Knox                   80
Maroondah              80
Melton                 66
Frankston              53
Greater Dandenong      52
Casey                  38
Nillumbik              36
Yarra Ranges           18
Cardinia                8
Macedon Ranges          7
Unavailable             1
Moorabool               1
Name: CouncilArea, dtype: int64

### Фильтрация данных в DataFrame

In [40]:
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [41]:
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

5

In [42]:
round(melb_data[(melb_data['BuildingArea'] == 0)]['Price'].min())

412500

In [43]:
round(melb_data[(melb_data['Price']<1e6) & ((melb_data['Rooms']>5) | (melb_data['YearBuilt'] > 2015))]['Price'].mean())

769239

In [44]:
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object

In [45]:
import pandas as pd
student_data = pd.read_csv('D:\Data Science\IDE\Skillfactory\PY_10_Введение в Pandas\data\students_performance.csv')
student_data.shape[0]
student_data.loc[155, 'writing score']
print(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [46]:
print(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [47]:
int(student_data['math score'].mean())

66

In [48]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [49]:
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

74

In [50]:
student_data[student_data['math score'] == 0].shape[0]

1

In [55]:
student_data[student_data['lunch'] == 'standard']['math score'].mean()
round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())

59

In [52]:
student_data["parental level of education"].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [53]:
a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
b = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(a - b)))

6